<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <h1 style="color:dodgerblue"> Lista de Familiares: </h1>

  {% for familia in familiares %}
    <strong style="color:Plum">id: </strong> {{familia.id}}</p>
    <strong style="color:Plum">Parentesco: </strong> {{familia.parentesco}}</p>
    <strong style="color:Plum">Nombre: </strong> {{familia.name}}</p>
    <strong style="color:Plum">Edad: </strong> {{familia.edad}}</p>
    <strong style="color:Plum">Fecha de Nacimiento: </strong> {{familia.year_born}}</p>

  {% endfor %}
  <ul>

</body>
</html>
